// Disable text selection
@mixin unselectable {
  user-select: none;
}

// Flex Centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Link Hover
@mixin hover ($color, $text-decoration) {

  &:focus,
  &:active,
  &:hover {
    @if $color {
      color: $color;
    }

    @if $text-decoration {
      text-decoration: $text-decoration;
    }
  }
}

// Imposter. The imposter creates a container where all child elements are positioned in the center of it.
@mixin imposter($offset) {
  width: 100vw;
  height: 100vh;

  @if $offset {
    height: calc(100vh - #{$offset});
  }

  @include flex-center();
}
