// Disable text selection
@mixin unselectable {
  user-select: none;
}

// Flex Centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Link Hover
@mixin hover ($color, $text-decoration) {

  &:focus,
  &:active,
  &:hover {
    @if $color {
      color: $color;
    }

    @if $text-decoration {
      text-decoration: $text-decoration;
    }
  }
}
