/**
 * Variables
 */


/*
 * Fonts
 * ========================================================================== */

$font-family: Arial, Helvetica, sans-serif;

$body-font: $font-family;
$header-font: $font-family;

$basic-font-size: 62.5%;



/*
 * Colors
 * ========================================================================== */

$black: #000;
$blue: #00f;

$text-color: $black;
