node_modules/
yarn.lock
package-lock.json
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
.env
.env.local
.env.development
.env.test
.env.production
dist/
build/
out/
.next/
.pnpm-store/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
coverage/
.nyc_output/
