{% include './layouts/header.html' %}

<!-- Intro -->
<section class="section">
  <div class="container">

    <!-- SVG Block -->
    <h3>SVG Block Test</h3>
    <img src="./images/html5-logo.svg" alt="" width="200" height="200">


    <!-- Picture Block -->
    <h3>Picture Block Test</h3>
    <picture>
      <source srcset="./images/test-photo.webp" type="image/webp">
      <img src="./images/test-photo.jpg" alt="" width="400" height="285">
    </picture>

  </div>
</section>

{% include './layouts/footer.html' %}
