{% include './layouts/header.html' %}

<!-- Intro -->
<section class="section">
  <div class="container">
    <div class="row">

      <!-- Article -->
      <div class="col-md-8">
        <article class="article">
          <h2>Article Title</h2>
          <p class="subtitle" role="doc-subtitle">Subtitle</p>

          <!-- SVG Block -->
          <h3>SVG Block Test</h3>
          <img src="./images/html5-logo.svg" alt="" width="200" height="200">


          <!-- Picture Block -->
          <h3>Picture Block Test</h3>
          <picture>
            <source srcset="./images/test-photo.webp" type="image/webp">
            <img src="./images/test-photo.jpg" alt="" width="400" height="285">
          </picture>

          <!-- Picture Block | Figure Test -->
          <h3>Picture Block Test | Figure</h3>

          <figure>
            <picture>
              <source srcset="./images/test-photo.webp" type="image/webp">
              <img src="./images/test-photo.jpg" alt="" width="400" height="285">
            </picture>
            <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
          </figure>

          <!-- Picture Block | Source 2x Test -->
          <h3>Picture Block Test | 2x Source</h3>

          <picture>
            <source srcset="./images/test-image-3.webp 1x, ./images/test-image-3@2x.webp 2x" type="image/webp">
            <img loading="eager" srcset="./images/test-image-3.jpg 1x, ./images/test-image-3@2x.jpg 2x" src="./images/test-image-3.jpg" alt=" | Logo" width="400" height="283">
          </picture>


          <!-- Quotations -->
          <h3>Quotations</h3>

          <figure>
            <blockquote>
              If debugging is the process of removing software bugs,
              then programming must be the process of putting them in.
            </blockquote>
            <figcaption><cite>Edsger Dijkstra</cite></figcaption>
          </figure>


          <blockquote>
            <q>
              If debugging is the process of removing software bugs,
              then programming must be the process of putting them in.
            </q>
            <p>
              <cite>Edsger Dijkstra</cite>
            </p>
          </blockquote>
        </article>
      </div>

      <!-- Aside -->
      <div class="col-md-4">
        <aside class="aside">
          <h2>Aside</h2>
        </aside>
      </div>

    </div><!-- /.row -->
  </div>
</section>

{% include './layouts/footer.html' %}
