{% include './layouts/header.html' %}

<!-- Navigation -->
<nav class="nav">

  <!-- Main Menu -->
  <ul class="menu">
    <li class="menu__item">
      <a href="./index.html" class="menu__link"></a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header class="header">
  <div class="container">

    <!-- Logo -->
    <div class="logo">
      <a class="logo__link" href="./index.html" accesskey="1"><img src="./images/" alt=""></a>
    </div>

  </div>
</header>

<!-- Intro -->
<section class="section">
  <div class="container">
    <div class="row">

      <!-- Article -->
      <div class="col-md-8">
        <article class="article">
          <h1>Article Title</h1>
          <p class="subtitle" role="doc-subtitle">Subtitle</p>

          <!-- SVG Block -->
          <h3>SVG Block Test</h3>
          <img src="./images/html5-logo.svg" alt="" width="200" height="200">


          <!-- Picture Block -->
          <h3>Picture Block Test</h3>
          <picture>
            <source srcset="./images/test-photo.webp" type="image/webp">
            <img src="./images/test-photo.jpg" alt="" width="400" height="285">
          </picture>

          <!-- Picture Block Figure Test-->
          <h3>Picture Block Test</h3>

          <figure>
            <img src="./images/test-photo.jpg" alt="" width="400" height="285">
            <source srcset="./images/test-photo.webp" type="image/webp">
            <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
          </figure>


          <!-- Quotations -->
          <h3>Quotations</h3>

          <figure>
            <blockquote>
              If debugging is the process of removing software bugs,
              then programming must be the process of putting them in.
            </blockquote>
            <figcaption><cite>Edsger Dijkstra</cite></figcaption>
          </figure>


          <blockquote>
            <q>
              If debugging is the process of removing software bugs,
              then programming must be the process of putting them in.
            </q>
            <p>
              <cite>Edsger Dijkstra</cite>
            </p>
          </blockquote>
        </article>
      </div>

      <!-- Aside -->
      <div class="col-md-4">
        <aside class="aside">
          <h2>Aside</h2>
        </aside>
      </div>

    </div><!-- /.row -->
  </div>
</section>

{% include './layouts/footer.html' %}
