/*
 * Buttons
 * ========================================================================== */

.btn {
  text-align: center;
  white-space: nowrap;
  display: inline-block;

  @include unselectable;
  cursor: pointer;
}
