.svg-icon-boat-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-bolt-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-prin-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-wallet-dims {
	width: 44px;
	height: 44px;
}

