/*
 * Variables
 * ========================================================================== */


/**
 * Fonts
 */

$font-family: Arial, Helvetica, sans-serif;

$body-font: $font-family;
$header-font: $font-family;

$basic-font-size: 62.5%;


/**
 * Palette
 */

$black: #000;
$blue: #00f;


/**
 * Colors
 */
 
$text-color: $black;
