/*
 * Variables
 * ========================================================================== */


/**
 * Fonts
 */

$system-fonts: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, 
Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif);

$font-stack: $system-fonts;

$body-font: $font-stack;
$header-font: $font-stack;

$basic-font-size: 62.5%;


/**
 * Palette
 */

$black: #000;
$blue: #00f;


/**
 * Colors
 */

$text-color: $black;
