/*
 * Variables
 * ========================================================================== */


/**
 * Fonts
 */

$font-stack: ('Open Sans', Arial, Helvetica, sans-serif);

$body-font: $font-stack;
$header-font: $font-stack;

$basic-font-size: 62.5%;


/**
 * Palette
 */

$black: #000;
$blue: #00f;


/**
 * Colors
 */

$text-color: $black;
